# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
apps/client/client
apps/fproxy/fproxy
apps/fproxy/log/
apps/mproxy/log/
apps/mproxy/mproxy
apps/proxy/log/
apps/proxy/proxy
apps/rpc/rpc
apps/server/log/
apps/server/server
apps/sids/sids
